# 日志
logs/*.log
!logs/README.md

# 数据
data/* 
!data/README.md

# 环境
.env

# frpc配置   
frp/frpc.toml
frp/frpc.state

# 容器开发
# py缓存
__pycache__/

# 帮助文档
help/

# ide配置 
.vscode/  
.cursor/  

# 日志
logs/*
!logs/test.log  

# 数据
data/*
!data/README.md

# 密码
rsync.passwd